In [1]:
# Importing packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import pyarrow

In [3]:
path_P = "../21-01/year_month=21-01/plugin=ipmi_pub/metric=total_power/a_0.parquet"
dataset_P = pd.read_parquet(path_P, engine='pyarrow')

# Casting of node values into integers
dataset_P['node'] = dataset_P['node'].astype(int)

print(dataset_P)

                          timestamp  value  node
0         2021-01-21 06:42:40+00:00    700   128
1         2021-01-21 06:43:00+00:00    700   128
2         2021-01-21 06:43:20+00:00    580   128
3         2021-01-21 06:43:40+00:00    700   128
4         2021-01-21 06:44:00+00:00    680   128
...                             ...    ...   ...
112525874 2021-01-22 16:19:00+00:00    540   968
112525875 2021-01-22 16:19:20+00:00    540   968
112525876 2021-01-22 16:19:40+00:00    560   968
112525877 2021-01-22 16:20:00+00:00    540   968
112525878 2021-01-22 16:20:20+00:00    540   968

[112525879 rows x 3 columns]

In [4]:
dataset_pivoted = pd.pivot_table(dataset_P, index='timestamp', columns='node')
dataset_pivoted['value'].interpolate(method='linear', inplace=True)

In [5]:
dataset_pivoted

                           value                                            \
node                         0      1      2      3      4      5      6
timestamp
2021-01-01 00:00:00+00:00  380.0  420.0  420.0  360.0  440.0  400.0  440.0
2021-01-01 00:00:20+00:00  360.0  400.0  420.0  380.0  440.0  400.0  440.0
2021-01-01 00:00:40+00:00  360.0  400.0  420.0  360.0  440.0  400.0  440.0
2021-01-01 00:01:00+00:00  360.0  400.0  420.0  360.0  440.0  400.0  440.0
2021-01-01 00:01:20+00:00  360.0  400.0  420.0  380.0  440.0  400.0  440.0
...                          ...    ...    ...    ...    ...    ...    ...
2021-01-31 23:30:40+00:00  440.0  400.0  400.0  360.0  420.0  400.0  440.0
2021-01-31 23:31:00+00:00  420.0    NaN  400.0    NaN    NaN  380.0  440.0
2021-01-31 23:43:00+00:00    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-31 23:43:20+00:00    NaN  400.0  420.0    NaN    NaN    NaN    NaN
2021-01-31 23:43:40+00:00  440.0  400.0  420.0    NaN    NaN    NaN    NaN

                                                ...                       \
node                         7      8      9    ...    970    971    972
timestamp                                       ...
2021-01-01 00:00:00+00:00  420.0  420.0  420.0  ...  740.0  440.0  500.0
2021-01-01 00:00:20+00:00  420.0  420.0  420.0  ...  580.0  440.0  500.0
2021-01-01 00:00:40+00:00  420.0  420.0  420.0  ...  620.0  440.0  520.0
2021-01-01 00:01:00+00:00  420.0  420.0  440.0  ...  620.0  440.0  520.0
2021-01-01 00:01:20+00:00  420.0  420.0  420.0  ...  860.0  460.0  520.0
...                          ...    ...    ...  ...    ...    ...    ...
2021-01-31 23:30:40+00:00  420.0  420.0  420.0  ...  500.0  560.0  500.0
2021-01-31 23:31:00+00:00  420.0  420.0    NaN  ...    NaN    NaN    NaN
2021-01-31 23:43:00+00:00    NaN    NaN    NaN  ...    NaN    NaN    NaN
2021-01-31 23:43:20+00:00    NaN  420.0  420.0  ...  500.0  560.0    NaN
2021-01-31 23:43:40+00:00  420.0  420.0  420.0  ...  480.0  560.0    NaN


node                         973    974    975    976    977    978    979
timestamp
2021-01-01 00:00:00+00:00  480.0  460.0  480.0  400.0  760.0  760.0  480.0
2021-01-01 00:00:20+00:00  480.0  480.0  460.0  400.0  700.0  600.0  480.0
2021-01-01 00:00:40+00:00  480.0  480.0  460.0  400.0  700.0  540.0  480.0
2021-01-01 00:01:00+00:00  480.0  460.0  480.0  400.0  680.0  640.0  480.0
2021-01-01 00:01:20+00:00  500.0  480.0  460.0  400.0  840.0  580.0  480.0
...                          ...    ...    ...    ...    ...    ...    ...
2021-01-31 23:30:40+00:00  420.0  480.0  560.0  460.0  500.0  540.0  500.0
2021-01-31 23:31:00+00:00    NaN    NaN    NaN  560.0    NaN  480.0    NaN
2021-01-31 23:43:00+00:00    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-31 23:43:20+00:00  420.0  460.0    NaN  480.0  500.0    NaN  500.0
2021-01-31 23:43:40+00:00  440.0  600.0    NaN  460.0  500.0    NaN  500.0

[115262 rows x 980 columns]

C:\Users\loren\AppData\Local\Temp\ipykernel_21076\2315997798.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset_pivoted['value'].interpolate(method='linear', inplace=True)

In [14]:
dataset_pivoted

                                value                                     \
node                              0      1      2      3      4      5
timestamp
2021-01-01 00:00:00+00:00  380.000000  420.0  420.0  360.0  440.0  400.0
2021-01-01 00:00:20+00:00  360.000000  400.0  420.0  380.0  440.0  400.0
2021-01-01 00:00:40+00:00  360.000000  400.0  420.0  360.0  440.0  400.0
2021-01-01 00:01:00+00:00  360.000000  400.0  420.0  360.0  440.0  400.0
2021-01-01 00:01:20+00:00  360.000000  400.0  420.0  380.0  440.0  400.0
...                               ...    ...    ...    ...    ...    ...
2021-01-31 23:30:40+00:00  440.000000  400.0  400.0  360.0  420.0  400.0
2021-01-31 23:31:00+00:00  420.000000  400.0  400.0  360.0  420.0  380.0
2021-01-31 23:43:00+00:00  426.666667  400.0  410.0  360.0  420.0  380.0
2021-01-31 23:43:20+00:00  433.333333  400.0  420.0  360.0  420.0  380.0
2021-01-31 23:43:40+00:00  440.000000  400.0  420.0  360.0  420.0  380.0

                                                       ...                \
node                         6      7      8      9    ...    970    971
timestamp                                              ...
2021-01-01 00:00:00+00:00  440.0  420.0  420.0  420.0  ...  740.0  440.0
2021-01-01 00:00:20+00:00  440.0  420.0  420.0  420.0  ...  580.0  440.0
2021-01-01 00:00:40+00:00  440.0  420.0  420.0  420.0  ...  620.0  440.0
2021-01-01 00:01:00+00:00  440.0  420.0  420.0  440.0  ...  620.0  440.0
2021-01-01 00:01:20+00:00  440.0  420.0  420.0  420.0  ...  860.0  460.0
...                          ...    ...    ...    ...  ...    ...    ...
2021-01-31 23:30:40+00:00  440.0  420.0  420.0  420.0  ...  500.0  560.0
2021-01-31 23:31:00+00:00  440.0  420.0  420.0  420.0  ...  500.0  560.0
2021-01-31 23:43:00+00:00  440.0  420.0  420.0  420.0  ...  500.0  560.0
2021-01-31 23:43:20+00:00  440.0  420.0  420.0  420.0  ...  500.0  560.0
2021-01-31 23:43:40+00:00  440.0  420.0  420.0  420.0  ...  480.0  560.0

                                                                          \
node                         972    973         974    975    976    977
timestamp
2021-01-01 00:00:00+00:00  500.0  480.0  460.000000  480.0  400.0  760.0
2021-01-01 00:00:20+00:00  500.0  480.0  480.000000  460.0  400.0  700.0
2021-01-01 00:00:40+00:00  520.0  480.0  480.000000  460.0  400.0  700.0
2021-01-01 00:01:00+00:00  520.0  480.0  460.000000  480.0  400.0  680.0
2021-01-01 00:01:20+00:00  520.0  500.0  480.000000  460.0  400.0  840.0
...                          ...    ...         ...    ...    ...    ...
2021-01-31 23:30:40+00:00  500.0  420.0  480.000000  560.0  460.0  500.0
2021-01-31 23:31:00+00:00  500.0  420.0  473.333333  560.0  560.0  500.0
2021-01-31 23:43:00+00:00  500.0  420.0  466.666667  560.0  520.0  500.0
2021-01-31 23:43:20+00:00  500.0  420.0  460.000000  560.0  480.0  500.0
2021-01-31 23:43:40+00:00  500.0  440.0  600.000000  560.0  460.0  500.0


node                         978    979
timestamp
2021-01-01 00:00:00+00:00  760.0  480.0
2021-01-01 00:00:20+00:00  600.0  480.0
2021-01-01 00:00:40+00:00  540.0  480.0
2021-01-01 00:01:00+00:00  640.0  480.0
2021-01-01 00:01:20+00:00  580.0  480.0
...                          ...    ...
2021-01-31 23:30:40+00:00  540.0  500.0
2021-01-31 23:31:00+00:00  480.0  500.0
2021-01-31 23:43:00+00:00  480.0  500.0
2021-01-31 23:43:20+00:00  480.0  500.0
2021-01-31 23:43:40+00:00  480.0  500.0

[115262 rows x 980 columns]